<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DingleNet.Mousemon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DingleNet.Mousemon.Properties.Settings>
            <setting name="MouseSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MouseAcceleration" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseAccelerationThreshold1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="MouseAccelerationThreshold2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HasUserDefaults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeviceChangeDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UserChangeDelay" serializeAs="String">
                <value>3</value>
            </setting>
        </DingleNet.Mousemon.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
